{% extends "biynlvpBundle::site.html.twig" %}

{% block title %}
    Page Introuvable - {{ parent() }}
{% endblock %}

{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Hum !?</h1>
                <hr>
                <p>Ah, non non ! Cette page n'existe pas...</p>
                <a href="{{ path('biynlvp_homepage') }}" class="btn btn-primary btn-xl page-scroll">Retourner vers la Page d'Accueil</a>
            </div>
        </div>
    </header>

    {{ include("biynlvpBundle:Default:contact.html.twig") }}

{% endblock %}
