<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        {% for lien in menu %}
        <li>
            <a class="page-scroll" href="{{ lien.url }}">{{ lien.titre }}</a>
        </li>
        {% endfor %}
    </ul>
</div>