<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>%NOM_SITE%</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
  <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
      <tbody>
        <tr>
          <td style="vertical-align: top; padding-bottom:30px;" align="center">
          	  <a href="{{biynlvp_homepage}}" target="_blank">
          	  	 <img width="200" src="{{baseurl}}/bundles/biynlvp/img/logo.png" alt="La Voix Prophétique" style="border:none" />
          	  </a><br/>
           </td>
        </tr>
      </tbody>
    </table>
    <div style="padding: 40px; background: #fff; line-height: 25px;">
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
          <tr>
            <td>{{ message|raw }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: center; font-size: 11px; color: #b2b2b5; margin-top: 20px; line-height: 20px;">
      	<p>Ce message vous est envoy&eacute; parce que vous &ecirc;tes inscrit aux cours de La Voix Prophétique. Conform&eacute;ment &agrave; la loi "informatique et libert&eacute;s" du 6 janvier 1978 modifi&eacute;e en 2004, vous b&eacute;n&eacute;ficiez d'un droit d'acc&egrave;s, 
de rectification et d'opposition aux informations qui vous concernent, que vous pouvez exercer en vous adressant par mail &agrave; l'adresse: lavoixprophetique@gmail.com. Vous pouvez &eacute;galement, pour des motifs l&eacute;gitimes, vous opposer au traitement des donn&eacute;es vous concernant.</p>
    </div>
    <div style="text-align: center; font-size: 11px; color: #b2b2b5; margin-top: 20px; line-height: 20px;">
      <p><strong>La Voix Prophétique</strong></p>
      	<p>
      		13 Rue Auguste Perret<br />
          Villejuif 94800 <br />
          ---<br />
      		Secrétariat, Esther : 06 60 29 50 56
      	</p>
    </div>
  </div>
</div>
</body>
</html>
